[Unit]
Description=Start K8s traning cluster

[Service]
WorkingDirectory=/github.com/MickiFoerster/vagrant/k8s-1Master-2Nodes
ExecStart=/usr/bin/vagrant up
ExecStop=/usr/bin/vagrant halt
TimeoutStartSec=90
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
